<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirige toutes les requêtes vers index.html (pour Vue en history mode)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]

  # Active la compression gzip
  <IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/json
  </IfModule>
</IfModule>
